@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');


:root{
    --color-bg:#f2f2f2;
    --color-primary:#548C1C;
    --color-primary-hover:#4a6b2c;
    --color-accent:#f2b705;
    --color-dark:#262626;
    --color-white:#ffffff;
    --color-border:#d9ece0;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Raleway", sans-serif;
}


body{
    background:var(--color-bg);
    min-height:100vh;
}






header {
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    padding: 20px 40px;
    margin-bottom: 40px;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav img {
    margin-right: 40px; 
}

.nav-menu {
    display: flex;
    gap: 24px; 
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap; 
}

nav a:hover {
    color: var(--color-primary-hover);
}






.container{
    max-width:1100px;
    margin:auto;
    padding:20px;
}


h1{
    text-align:center;
    font-size:52px;
    margin-bottom:40px;
    color:var(--color-dark);
}








.pedido-card{


    background:white;


    border:8px solid var(--color-border);


    border-radius:25px;


    padding:30px;


    margin-bottom:25px;


    display:flex;
    align-items:center;
    justify-content:space-between;


    text-decoration:none;
    color:black;


    box-shadow:0 4px 15px rgba(0,0,0,.05);


    transition:.3s;
}


.pedido-card:hover{
    transform:translateY(-3px);
}


.status-circle{
    width:55px;
    height:55px;


    border:3px solid var(--color-primary);


    border-radius:50%;
}


.info{
    flex:1;
    margin-left:25px;
}


.info h3{
    font-size:32px;
    margin-bottom:8px;
}


.info p{
    font-size:20px;
}








.status{


    padding:14px 24px;


    border-radius:15px;


    font-size:20px;


    font-weight:700;
}


.enviado{
    background:#4CAF50;
}


.transporte{
    background:#f2b705;
}


.entregue{
    background:#b7e4c7;
}








.modal{


    display:none;


    position:fixed;


    top:0;
    left:0;


    width:100%;
    height:100%;


    background:rgba(0,0,0,.5);
}


.modal:target{
    display:block;
}


.modal-content{


    width:500px;


    background:white;


    border-radius:20px;


    padding:30px;


    margin:120px auto;


    position:relative;
}


.fechar{


    position:absolute;


    right:20px;
    top:10px;


    text-decoration:none;


    font-size:35px;


    color:black;
}


.modal-content h2{
    margin-bottom:20px;
}


.modal-content p,
.modal-content li{
    margin-bottom:10px;
    font-size:18px;
}


ul{
    margin-left:20px;
}








footer{


    margin-top:50px;


    background:white;


    box-shadow:0 -2px 10px rgba(0,0,0,.08);


    padding:20px 40px;


    display:flex;
    justify-content:space-between;
    align-items:center;
}


.text-footer{
    font-weight:600;
    color:#444;
}










@media (max-width: 900px) {
    .header {
        padding: 1.2rem 4%;
    }


    .nav-menu {
        gap: 3rem;
        display:flex;
        align-items: center
    }


    .nav-link {
        font-size: var(--font-size-label);
    }


    .logo-img {
        width: 3.2rem;
        height: 3.2rem;
    }
}




@media (max-width: 768px) {
    .header {
        padding: 1.2rem 2rem;
    }


    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1rem;
    }


    .logo-img {
        width: 3.2rem;
        height: 3.2rem;
    }


    .logo-text {
        font-size: 1.8rem;
    }


    .logo-img-footer {
        display: none;
    }


    .nav-menu {
        gap: 2rem;
    }


    .nav-link {
        font-size: var(--font-size-label);
    }


    .section-page {
        padding: 3rem;
        max-width: 40rem;
    }
}




@media (max-width: 480px) {
    .header {
        padding: 1rem 2rem;
    }


    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .logo-img {
        width: 2.8rem;
        height: 2.8rem;
    }


    .logo-text {
        font-size: var(--font-size-text);
    }


    .nav-menu {
        gap: 1.5rem;
    }


    .nav-link {
        font-size: var(--font-size-small);
    }


    .container h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }


    .container label {
        font-size: var(--font-size-small);
        margin-top: 1.5rem;
    }


    .container input {
        padding: 1rem 1.2rem;
        font-size: var(--font-size-small);
    }


    button {
        padding: 1rem;
        font-size: var(--font-size-label);
        margin-top: 2rem;
    }
}